<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><Application>Kingsoft Office</Application><DocSecurity>0</DocSecurity><ScaleCrop>0</ScaleCrop><LinksUpToDate>0</LinksUpToDate><AppVersion>16.0300</AppVersion></Properties>